html {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #26292c;
  
  font-weight: 500 !important;
  font-size: 1rem !important;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0;
}


*,
*:after,
*::before {
  box-sizing: inherit;
}


/*
=================================================================================================
    Header
=================================================================================================
*/
  .nav-bar{
    padding-right: 2.5rem;
    padding-left: 2.1rem;
    box-shadow: 0px 0px 4px grey;
    height: 88px;
}

.go-back-nav-bar{
  padding-right: 2.5rem;
  padding-left: 2.1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header a{
  color: black;
}

.header a:hover{
  color: black;
  text-decoration: underline #026E08;
}

.header a.active{
  color: black !important;
  text-decoration: underline #026E08 !important;
}

.logo-container img{
  width: 100px;
  height: auto;
}

.logo-container .rest{
 margin-left: 0px;
 color: #026E08; 
 font-size: small;
}

.dropdown1:hover .dropdown-menu1 {
  display: block;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: white;
  background-color:  #026E08;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:visited{
  color: white !important;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 28px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: rgb(12, 12, 12);
}

.openbtn:hover {
  color:#026E08;
}

/* On smaller screens, where height is less than 450px */
@media screen and (max-width: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .rest{display: none !important;}
  .img-col{
    display: flex;
    justify-content: center;
    padding-bottom: 0px; padding-right: 120px;
  }
  .search-courses-div{width: 100% !important; }
  .signup-box{
    width: 100% !important;
    height: auto !important;
    padding: 100px 20px 100px 20px !important;
  }
  .email-box{width: 100% !important;}
  .courses-nav{
    display: flex;
    flex-direction: column;
  }
  .nav-bar{
    padding-right: 10px;
    padding-left: 10px;
    
}
.main-content{
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.course-vid{
  width: 100% !important;
  justify-content: center !important;
  padding-left: 5px !important;
  padding-right: 20px !important;
 
}
.course-desc{
  padding-left: 5px;
  padding-right: 20px;
}
.course-vid iframe{
  width: 100% !important;
  height: 200px !important;
}

.featured-videos-cols h5{
  margin-top: 10px !important;
}

.retail-eng{
  padding-right: 8px;
  color: rgba(96, 98, 100,0.4);
  text-align: end;
}
.privacy-div{
 padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.autoplay-div{
  justify-content: start !important;
}
.footer-div{
  padding: 0px !important;
}
.course-details-div{
  padding: 10px 10px 10px 10px !important;
}
}

/* On tablets and medium screens*/
@media screen and (max-width: 775px) {
  
  .search-courses-div{width: 100% !important; }
  .signup-box{
    width: 100% !important;
    height: auto !important;
    padding: 100px 20px 100px 20px !important;
  }
  .email-box{width: 100% !important;}
  .courses-nav{
    display: flex;
    flex-direction: column;
  }
  

}
/*Large screens*/
@media screen and (min-width: 775px){
  .footer-div{
    padding-left: 35px;
  }
  .privacy-div{
    padding-right: 50px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .welcome-div{
    padding-left: 0px;
  }
}

@media screen and (min-width: 910px){
  .main-content{
    padding-left: 10rem !important;
    padding-right: 10rem !important;
  }
.nav-bar{
  padding-left: 9rem !important;
  padding-right: 9rem !important;

}

.middle-nav-bar{
  margin-left: 10rem !important;
  margin-right: 10rem !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.go-back-nav-bar{
  margin-left: 10rem;
  margin-left: 10rem;
  padding-left: 0px;
}
.footer-div{
  padding: 8rem !important;
}
}


/*
=================================================================================================
  KudiGO Academy
=================================================================================================

*/
.main-content{
  padding-left: 3rem;
  padding-right: 3rem;
}


.welcome-div{
  font-size: 20px; 
  line-height: 1.8;
}

.search-courses-div{
  width: 70%;
  
}

.featured-videos{
  margin-bottom: 50px;
} 

.featured-videos-head{
  text-align: center; 
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: bold;
}


.featured-videos-cols h5{
  margin-top: 10px;
   
 }

.featured-videos-cols iframe{
  width:100% !important;
  height:300px !important;

}

.featured-videos-cols .vidyard-player-embed{
  width:100% !important;
  height:300px !important;

}
#search-bar{
  border: none;
  padding: 10px;
}

/*
=================================================================================================
  Courses
=================================================================================================

*/



.courses-nav{
 background-color: rgb(238, 236, 236);
 padding-left: 0px;
 padding-right: 0px;
}

.courses-nav a{
  text-decoration: none;
  color: rgb(70, 69, 69);
}

.courses-nav a:hover{
  text-decoration: underline;
 
}
.courses{
  margin-top: 20px;

}
.course-col{
  max-width: 600px;
  display:inline-block;
  flex-direction:initial;
  align-content: center;
}
.course-row{
  margin-top: 100px;
  margin-bottom: 40px;
}
.course-row:hover{
  background-color:rgba(63, 62, 62, 0.034);
}

.course-div{
padding-top: 1.5rem;
padding-bottom: 1.5rem;
padding-left: 20px;
padding-right: 20px;

}

.course-vid .vidyard-player-embed{
  height: 200px !important;
}



.course-vid{
  height: 200px !important;
}

.btn-div{
  padding: 10px;
}
.stc-btn{
  border: none;
  background-color: #026E08;
  color: white;
  font-size: large;
  height: 55px;
  width: 90%;
  cursor: pointer;
 

}
.stc-btn:hover{
  background-color: #00BE0A;
}

.courses-col{
  margin-bottom: 200px;
}
.hor{
  width: 100%;
  color: white;
  border: 1px solid white;
  
}


a{
  text-decoration: none;
}

.course-div{
  margin: 50px auto 50px auto;
}
.course-div a{
  color: black;
}


.course-div:hover a{
  color: black;
}


.course-div:hover{
  background-color: rgb(240, 240, 240);
}


.featured-videos-cols:hover{
  background-color: rgb(240, 240, 240);;
}

.featured-videos-cols a{
  color: black;
}

.featured-videos-cols h5{
  margin-top: 10px;
}

.featured-videos-cols:hover a{
  color: black;
}

.signup-box{
  width: 60%;
  height: 500px;
  padding-top: 100px;
}

.sign-up-div a{
  color: #b3b3b3;
}

.btn-sign-up{
  background-color: #026E08;
  color: white;
  margin-left: 0px !important;
  

}

.btn-sign-up:hover{
  background-color: rgb(79, 214, 79);

}

.footer-div a{
  color: rgb(119, 117, 117);
  font-size: 18px;
}
i{
  color: #818181;
}
i:hover{
  color: #a8a8a8;
}

/*
=================================================================================================
  Footer
=================================================================================================
*/
.social-media-icons-div i{
  font-size: 1.5rem; 
  margin-left: 20px;
}

.retail-eng{
  color: rgba(96, 98, 100,0.4);
  text-align: end;
  
  }

  .copy-right-div{
    text-align: center;
    margin-bottom: 20px;
  }

/*
=================================================================================================
  Course Details
=================================================================================================
*/
.course-overview-ul{
  list-style: none;
}

.course-overview-ul li i{
  color: #00BE0A; 
  margin-right: 10px;
}

.share-course-div a{
  margin-left: 0.5rem;
  font-size: 1.5rem;
}


.course-videos-div div a{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.course-details-div{
  padding: 10px 5px 10px 0px;
}


/*
==============================================================================================================
Knowledge Base
==============================================================================================================
*/

.opendiv{
  height: 350px;
  width: 100%;
  display:flex;
  flex-wrap:nowrap;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 40px;
  margin-bottom: 3rem;
}

.opendiv img{
  width: 100%;
  position: absolute;
  z-index: 0;
}

.opendiv h1{
  color: white;
  font-size: 56px;
  align-items: center;
  margin-bottom: 2rem;
  z-index: 1;
}

.opendiv input{
  height: 56px;
  width: 55%;
  padding: 13px 20px 13px 40px;
  border:none;
  border-bottom: 2px solid #818181;
  z-index: 1;
}

.content .card{
  display: flex;
  height: 300px;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  padding: 10px;
  margin-top: 10px;
}

.content .card a{
 text-decoration: none;
 color: black;
}


.card-img-top{
  width:150px;
  height: 150px;
  align-self: center;
}
.card-title{
  font-weight: bold;
}

.FAQs-div h1{
  font-size: 24px;
  font-weight: bold;
}
.FAQs-div ul{
 list-style: none;
 padding-left:0px ;
 
}
.FAQs-div ul li{
  color: black;
  padding-bottom: 1rem; 
  font-size: 20px;
  opacity: 0.8;
 }
 .FAQs-div ul li:hover{
  text-decoration: underline black;
 }

 .FAQs-div ul li a{
  color: black;
 }

.content .card:hover{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

@media screen and (max-width:450px) {
  .opendiv input{
    width: 90% !important;
  }
  .opendiv h1{
    font-size: 35px;
    margin-bottom: 0.5rem;
  }
  .opendiv{
    height: 268px;
  }
  .card-img-top{
    width:100%;
    height: 50%;
    align-self: center;
  }
}

.btn-sign-up-kb{
  background-color: #026E08;
  color: white;
  margin-left: 0px !important;
  border-radius: 0px;
  

}

.btn-sign-up-kb:hover{
  background-color: rgb(79, 214, 79);

}

.signup-box-kb{
  width: 60%;
  height: 300px;
  padding-top: 100px;
}


/*
==============================================================================================================
Solutions
==============================================================================================================
*/
.solution-content h1{
  font-weight: bold;
}
.solution-content .row .col-sm{
  margin-top: 50px;
  color: black;
}
.solution-content .row .col-sm ul li a{
padding-left: 0px;
margin-left: 0px;
}
.solution-content a{
  color: black;
}
.solution-content :visited{
  color: black !important;
}

.solution-content .row .col-sm a:hover{
  text-decoration: underline black;
}


@media screen and (max-width:450px) {
  .solution-content .row .col-sm{
    width: 100%;
    padding: 0px;
   
  }
}